ul {
    list-style: none;
}


.charUl {
    list-style: none;
    z-index: 700;
    position: relative;
    display: flex;
    gap: 10px;
}


.box{
    margin:25px;
    position: absolute;
    top: 87%;
    left: 0;
    width:60px;
    height:60px;
    background:white;
    color: #333333;
    border: solid 1px;
    border-color: #333333;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;   
}
  

.modify{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 175%;
    left: 43%;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    box-shadow: 5px 10px 20px rgba(212, 212, 212, 0.3), -5px -10px 20px rgba(255,255,255,0.5);
    z-index: 10;
    border: solid 1px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: #333333;
    font-size: 14px;
    box-sizing: border-box;
}

.characteristicsBox{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto; 
    background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
    box-shadow: 5px 10px 20px rgba(8, 8, 8, 0.3), -5px -10px 20px rgba(255,255,255,0.5);
    z-index: 8;
    font-size: 17px;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.inputChar {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.082);
    left: 86%;
    top: 65%;
}

.characteristic_name {
    position: absolute;
    left: 35%;
    top: -10%;
}

.dices_char {
    position: relative;
    top: 63px;
    left: 48px;
    z-index: 555;
  }

  .rock    {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin-right: 5px;
    color: white;
  }


.char_strange {
    position: absolute;
    left: 9%;
    top: 8%;
}
.char_agil {
    position: absolute;
    left: 33%;
    top: 0;
}
.char_int {
    position: absolute;
    left: 59%;
    top: 2%;
}

.char_char {
    position: absolute;
    left: 75%;
    top: 17%;
}


.characteristick_block {
    /* display: flex; */
    padding: 80px 0 0 50px;
}
