body {
    width: 100%;
    height: 100%;
}
.rock    {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    margin-right: 5px;
    color: white;
    margin-bottom: 7px;

  }

  .rock1    {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
  }

.gameSection {
    width: 100%;
    height: 100%;
    background: url(../img/bg1.jpg) center/cover no-repeat;
    position: fixed;
    top: -4px;
    left: 0;
    z-index: 1;
    padding: 30px 0 0 0;

}

.gameSectionTwo {
    width: 100%;
    height: 100%;
    background: url(../img/bg4.jpg) center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 30px 0 0 0;

}

.gameSectionRools {
    width: 100%;
    height: 100%;
    background: url(../img/rools.jpg) center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* padding: 30px 0 0 0; */

}

.card {
    width: 499px;
    position: relative;
    margin: 0 auto;
    min-height: 800px;
    padding: 49px 30px 0px 30px;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.54), rgb(121, 112, 101));
    border-radius: 56px;
    border: solid 4px rgba(34, 15, 15, 0.5);
    box-shadow: 5px 10px 20px rgb(0, 0, 0), -5px -10px 20px rgb(0, 0, 0);
    top: 20px;
    transition: all 0.3s ease; /* Плавный переход при наведении */
}

.levitate {
    animation: levitate-animation 1.5s ease-in-out infinite alternate;
    transform-origin: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -17px, 0);
    }
}


.cardWhenInfoOn {
    left: -185px;
}


.infoDisplay{
    z-index: 1;
    position: fixed;
    left: 0;
    height: 217px;
    border-radius: 5px;
    height: 100%;
    top: 0;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0), rgba(121, 112, 101, 0.41));
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.28), -5px -10px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to top left, rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.35), -5px -10px 20px rgb(0, 0, 0);
    width: 100%;
    padding: 0;
}

.description_block {
    width: 100%;
    height: 100%;
    background:  url('/src/components/img/bginfo.jpg') center/cover no-repeat;
    box-shadow: inset 0px 0px 40px 40px black;
    left: 0px;
    position: fixed;
    top: 0;
}


.description_top {
    width: 714px;
    position: relative;
    padding: 149px 30px 0px 30px;
    top: 88px;
    left: 268px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.h_info {
    width: 450px;
    font-size: 4rem;
    font-family: "Rock Salt", cursive;
    color: #fff;
    text-align: center;
    height: 137px;
    border: transparent;
    background-color: transparent;
    background: transparent;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.option_info {
    width: 400px;
    font-size: 1rem;
    font-family: "Rock Salt", cursive;
    color: #000; /* Установить цвет текста черным */
    margin: 0;
    text-align: center;
    padding: 0;
    border: none; /* Убрать обводку у опций */
    background-color: transparent; /* Прозрачный фон опций */
}

.h_info1 {
    font-size: 2rem;
    font-family: "Rock Salt", cursive;
    color: white;
    margin: 0;
}

.description {
    font-size: 20px;
    border-radius: 13px;
    color: white;
    width: 714px;
    height: auto;
    background-color: transparent;
    font-family: "Rock Salt", cursive;
    text-align: center;
    margin: 0;
}

.h_rools {
    font-size: 3rem;
    font-family: "Rock Salt", cursive;
    /* color: #000000; */
    text-align: unset;
    height: 137px;
    border: transparent;
    background-color: transparent;
    background: transparent;
    cursor: pointer;
    
}


.p_rools {
    /* font-size: 22px; */
    border-radius: 13px;
    color: white;
    width: 1400px;
    height: auto;
    background-color: transparent;
    font-family: "Rock Salt", cursive;
    text-align: center;
    padding: 0 0 0 170px;
    margin: 0;

}
.p_rools1 {
    font-size: 22px;
}

.p_rools2 {
    font-size: 24px;
}


.diceImg {
    width: 690px;
    height: 132px;
    background: url('../img/dices.png') center/cover no-repeat;
    margin-left: 100px;
}

.racesIMG {
    width: 1263px;
    height: 390px;
    background:  url('/src/components/img/racesClasses.png') center/cover no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 77%;
}

.weaponsIMG {
    width: 1063px;
    height: 400px;
    background:  url('/src/components/img/weapons.png') center/cover no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 77%;
}

.DNDIMG {
    width: 1063px;
    height: 400px;
    background:  url('/src/components/img/DND.png') center/cover no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 77%;
}

.defenceIMG {
    width: 1263px;
    height: 490px;
    background:  url('/src/components/img/defensIMG.png') center/cover no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 77%;
}

.charIMG {
    width: 1263px;
    height: 390px;
    background:  url('/src/components/img/charIMG.png') center/cover no-repeat;
    margin-left: 100px;
    margin-top: 100px;
    opacity: 77%;
}

.finish_card {
    width: 330px;
    height: 500px;
}


.sketchy {
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background-color: transparent;
    position: relative;
    color: #333333;
    display: flex;
    flex-direction: column; 
}

.informationBlocks {
    border-color: rgb(43, 43, 43);
    border-width: 5px;
    border-style: double;
    background-color: transparent;
    background-color: #7d7d7d91;
    color: white;
    text-align: center;
    height: 25px;
    margin-bottom: 5px;  
    border-radius: 10px;
}

.infoFirstBlock{
    display: flex;
    gap: 10px;
}

.name {
    width: 500px;
    height: 40px;
}

.class {
    width: 200px;
    height: 20px;
    background-color: #da0000;
}

.block_species {
    width: 340px;
    height: 52px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 13px;
    position: relative;
    left: -34px;
    top: -12px;
}

.species_inp {
    width: 125px;
    height: 25px;
    background-color: #7d7d7d91;
    border-radius: 7px;
    color: white;
}

.species_select {
    width: 125px;
    height: 37px;
    background-color: #7d7d7d91;
    border-radius: 7px;
    color: white;
}

.species_btn {
    position: absolute;
    top: -7%;
    left: 128%;
}

.saveCrd {
    width: 50px;
    height: 50px;
    background: url(./save.svg) center/cover no-repeat;
}


.btnAll {
   width: 131px;
   height: 142px;
   position: fixed;
   top: 82px;
   left: 60px;
   background: url('/src/components/Panel/img/all.png') center/cover no-repeat;
   z-index: 999;
   transition: all 1s ease;
}

 .btnAll:hover {
  transform: scale(1.2);
}

.panel_li_cont {
    position: relative;
    width: 200px;
    height: 40px;
}

.popup {
    position: absolute;
    color: white;
    font-family: "Rock Salt", cursive;
    z-index: 100;
    left: calc(100% + 20px); /* Отступ справа от элемента на 50px */
} 

.popAll {
    top: 100px;
    width: 200px;
    padding: 10px;
    position: absolute;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.075), rgba(121, 112, 101, 0.199));
    border-radius: 15px;
    border: solid 2px rgba(34, 15, 15, 0.192);
    box-shadow: 3px 10px 20px rgb(0, 0, 0), -5px -10px 20px rgb(0, 0, 0);
    left: 250px;

}

.popInfo {
    top: 300px;
    left: -610px;
    width: 200px;
    padding: 10px;
    position: absolute;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.267), rgba(121, 112, 101, 0.192));
    border-radius: 15px;
    border: solid 2px rgba(34, 15, 15, 0.192);
    box-shadow: 3px 10px 20px rgb(0, 0, 0), -5px -10px 20px rgb(0, 0, 0);
}

.welcomeWindow {
    position: fixed;
    padding-top: 600px;
    width: 100%;
    height: 26vw;
    background:
    url('/src/components/img/bg3.jpg') center/cover no-repeat;
    z-index: 999;
    top: -5px;
    left: 0;
  }

.popUpInf{
    width: 170px;
    padding: 10px;
    position: absolute;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.075), rgba(99, 90, 80, 0.425));
    border-radius: 15px;
    border: solid 2px rgba(34, 15, 15, 0.192);
    box-shadow: 3px 10px 20px rgb(0, 0, 0), -5px -10px 20px rgb(0, 0, 0);
    z-index: 999;
    top: 200px;
    left: 580px;
}

.popUp{
    left: 600px;
    width: 335px;
    padding: 10px;
    position: fixed;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.068), rgba(121, 112, 101, 0.192));
    border-radius: 15px;
    border: solid 2px rgba(34, 15, 15, 0.192);
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.4), -5px -10px 20px rgba(0, 0, 0, 0.06);   
    z-index: 999;
    top: 719px;
    color: white;
}

.popUpCharInp {
    width: 270px;
}

.arrow {
    width: 180px;
    height: 55px;
    background: url("/src/components/img/arr.png") center/cover no-repeat;
    animation: arrow 2s infinite; 
    margin-top: 10px;
}

@keyframes arrow {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
}

.arrow1 {
    width: 130px;
    height: 30px;
    background: url("/src/components/img/arr1.png") center/cover no-repeat;
    animation: arrow1 2s infinite; 
    margin-top: 30px;
}

@keyframes arrow1 {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
}
