.healthRandomButton {
    position: absolute;
    left: 309px;
    top: 330px;
  }

.health_ul {
    list-style: none;
    z-index: 700;
    position: relative;
    display: flex;
    /* top: 65%;
    left: -14%; */
}

.heart {
    width: 110px;
    height: 100px;
    background: url("/src/components/img/health.png") center/cover no-repeat;
    position: absolute;
    top: 268px;
    z-index: 999;
    left: 376px;
}

.txt_health {
    position: relative;
    font-size: 24px;
    color: white;
    z-index: 999;
    left: 3px;
    top: 8px;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}  
  
.healthInput {
    width: 23px;
    height: 23px;
    position: absolute;
    background-color: #a4a2a266;
    left: 438px;
    top: 336px;
    color: white;
  }
  
.shield {
    width: 123px;
    height: 151px;
    background: url('/src/components/img/s.png') center/cover no-repeat;
    position: absolute;
    top: 31%;
    z-index: 900;
    left: 6%;
    padding: 26px 20px 0px 28px;
}

.shieldValue {
    width: 58px;
    font-weight: 400;
    font-size: 31px;
    color: black;
    border: none;
    background: transparent;
    position: relative;
    padding-top: 20px;
    padding-left: 19px;
}

.rock    {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: black000;
  }

  .popUp{
    padding: 10px;
    position: fixed;
    border-radius: 15px;
    border: solid 2px rgba(34, 15, 15, 0.192);
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.4), -5px -10px 20px rgba(0, 0, 0, 0.06);    z-index: 999;
    z-index: 999;
  }

  .popUpChar {
    top: 393px;
    left: 596px;
    width: 350px;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.637), rgba(121, 112, 101, 0.774));

}

.popUpCharInp {
    top: 393px;
    left: 597px;
    width: 300px;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.616), rgba(121, 112, 101, 0.74));

}

.popupCharShield {
    top: 330px;
    left: -345px;
    width: 288px;
    background: linear-gradient(to top left, rgba(40, 43, 23, 0.068), rgba(121, 112, 101, 0.192));

}