<!-- Первый кубик -->
<ul class="dice dice_one">
    <li class="dice__point"></li>
  </ul>
  
  <!-- Второй кубик -->
  <ul class="dice dice_two">
    <li class="dice__point"></li>
    <li class="dice__point"></li>
  </ul>
  
  <!-- Третий кубик -->
  <ul class="dice dice_three">
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
  </ul>
  
  <!-- Четвертый кубик -->
  <ul class="dice dice_four">
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
  </ul>
  
  <!-- Пятый кубик -->
  <ul class="dice dice_five">
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
  </ul>
  
  <!-- Шестой кубик -->
  <ul class="dice dice_six">
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
    <li class="dice__point"></li>
  </ul>